
*{
    box-sizing: border-box;  
    padding: 0;
    margin: 0;
}

.hr{
    margin: 0px;
    padding: 0px;
}


body{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: cover;
    background-attachment: fixed;
}


.total{
    max-width: 767px;
    margin: 0 auto; 
    color: white; 
    font-family: 'Trebuchet MS';  
    
}

.top-navigation{
    list-style-type: '|';
    font-size: 10px;
    font-weight: normal;
    display: inline-flex;
    float: right;
    font-family: 'Trebuchet MS'; 
    background-color: black;
    background: rgba(16, 34, 58, .4);
    margin-bottom: 25px;
    margin-right: 0px;
    
}

.top-navigation li:first-child{
    list-style: none;
}

.top-navigation li{
    padding: 5px;
    margin-right: 5px;
    color: white;   
}


.navigation-items{
    display: flex;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    padding-top: 5px;
    height: 50px;
    margin-bottom: 0px;
    font-family: 'Trebuchet MS';
    outline: 1px solid #454E5F;
    outline-offset: -5px;
    list-style-type: none;
    font-size: 16px;  
    
}




.navigation-items a:hover, .selected{
    background-color: #486881;
    color: white;
    border-radius: 2px;
}

.navigation-items{
    padding-top: 17px;
}

.navigation-items a{
    color: #A2D1ED;
    text-decoration: none;
    padding-right: 12px; 
    padding-left: 12px;
    border-right: 1px solid white;  
}

.navigation-items li .last-navigation-item{
    border-right: 0px;
}


.navigation-items img{
    position: relative;
    padding-right: 20px;
    top: -60px;
    height: 140px;
    width:200px;
    left: 10px;
}



.heading h1{
    padding-top: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: white;
    font-size: 35px;
    word-spacing: 5px;
    font-family: monospace;
    font-weight:lighter;
    letter-spacing: 4px;
    background: rgba(0, 0, 0, .28);
    text-shadow: 1px 1px 1px #000;
    padding-left: 30px;
    /* text-shadow: 1px 1px 1px black; */
    
}

.heading-space{
    height: 40px
}

.main{
    background-color: rgba(11, 27, 49, 0.9);
    padding: 3px;
    padding-bottom: 4px;
    
}
.article{
    display: flex;
    font-size: small;
    padding: 5px;
    background: rgba(0, 0, 0, 0);
    height: auto;
    margin: 0px;
    border-width: 1px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to top, 
      #37475E, 
      rgba(0, 0, 0, 0)
    ) 10;
}

    /* Home page section */

.section {
    margin: 15px;
    width: 30%;
    font-size: 12px;
    line-height: 18px;
}

.section img{
    height: 100px;
    width: 220px;
    padding-bottom: 15px;
    
}


a{
    color: #ABDDF6;
}

   /* service page section*/
.form-article{
    display: grid;
}
.article-top{
    padding: 10px;
    margin-right: 20px;
}
#search-box{
    float: right;
}
.form-list-table{
    border: 1px solid white;
    max-width: 690px;
    margin-left: 4%;
}
#service-table {
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 13px;
    font-weight:normal;
    margin: auto;
    
}

#service-table th{
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
}

/* custom checkbox start */
.checkbox_Container{
    position: relative;
    top: 6px
}
.showedChecklist{
    position: absolute;
    bottom: 1px;
    height: 13px;
    width: 13px;
    border: 1px solid white;
    z-index: 1;
}
.checklist,.checkBoxAll{
    opacity: 0;
    position: absolute;
    bottom:1px;
    z-index: 2;
    margin: 0;
    padding: 0;
}

.checklist:checked{
    opacity: 1;
}
.checkBoxAll:checked{
    opacity: 1;
}
/* custom checkbox end*/

#service-table th,#service-table td{
    border: 1px solid white;
    border-collapse: collapse;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.column1{
    width: 5%;
}
.column2{
    width:25%;
}
.column3{
    width: 10%;
}
.column4{
    width: 35%;
}
.column5{
    width: 25%
}

.result{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    height:70px;
}

.calculate{
    width:100px;
    text-align: left;
    padding-left: 10px;
    background-color: #28416D;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 0px;
}
.result-label{
    margin-left: 40px;
}
#max,#average{
    width: 50px;
    background-color: transparent;
    border: 0px;
    color: white;
    font-size: smaller;
}


.footer{
    margin-top: 10px;
    text-align: center;
    background-color: black;
    background: rgba(0, 0, 0, .4);
    text-decoration: none;
}

.footer a{
    
    color: white;
    font-size: x-small;
    
    
}


.footer p{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: x-small;
    font-family: 'Trebuchet MS';
}

.footer a{
    
    padding-left: 5px;
    padding-right: 5px;
}

.last-footer-navigation{
    border-left: 1px solid white;
}








